<configuration>
    <system.webServer>
        <!-- This line allows Node.js to control its own error responses -->
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />

        <!-- Pass requests to dist/index.js -->
        <handlers>
            <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
        </handlers>

        <!-- Node.js process path -->
        <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

        <rewrite>
            <rules>
                <rule name="helloexpress">
                    <!-- Match all routes and send to dist/index.js -->
                    <match url=".*" />
                    <action type="Rewrite" url="dist/index.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- Exclude node_modules directory from being served -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>

    <appSettings>
        <add key="NODE_ENV" value="Production" />
        <add key="CONNECTIONSTRING" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=117.240.188.21)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=shimul)))" />
        <add key="LIBDIRPATH" value="C:\\inetpub\\wwwroot\\express milkbill bulk upload\\instantclient-basic-windows.x64-21.13.0.0.0dbru\\instantclient_21_13" />
        <add key="USER" value="sub_store" />
        <add key="PASSWORD" value="sub_store" />
    </appSettings>
</configuration>
