<configuration>
    <system.webServer>
        <!-- This line allows Node.js to control its own error responses -->
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />

        <!-- Pass requests to dist/index.js -->
        <handlers>
            <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
        </handlers>

        <!-- Node.js process path -->
        <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

        <rewrite>
            <rules>
                <rule name="helloexpress">
                    <!-- Match all routes and send to dist/index.js -->
                    <match url=".*" />
                    <action type="Rewrite" url="dist/index.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- Exclude node_modules directory from being served -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>

    <appSettings>
        <add key="NODE_ENV" value="Production" />
        <add key="SIRI_DB_USER" value="workbench" />
        <add key="SIRI_DB_PASSWORD" value="workbench" />
        <add key="SIRI_DB_CONNECTIONSTRING" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.17.16)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)))" />
        <add key="LIBDIRPATH" value="C:\\inetpub\\wwwroot\\chimul_mktg_backend_orcl\\instantclient-basiclite-windows.x64-23.9.0.25.07\\instantclient_23_9" />
        <add key="EMAIL" value="jeevantv7899@gmail.com" />
        <add key="EMAIL_PASSWORD" value="vyhf okbg ixgb bnnb" />
        <add key="JWT_SECRET" value="someSecretkeyIFoundOnInternetSoIWillUseItIfThisGotCompromisedIwantToAnswerMyself" />
        <add key="JWT_EXPIRATION" value="2h" />
        <add key="FRONTEND_URL" value="http://103.21.232.59:467"/>
         <add key="LOGIN_SECRET_KEY" value="my-login-secret"/>
    </appSettings>
</configuration>